@import 'base/vars';
@import 'base/theme_info';
@import 'libs/libs';
@import 'foundation';

header#masthead {
  width: 100%;
  .site-branding {
    .site-title,
    .site-description {
      text-align: center;
    }
    .site-description {
      width: 30%;
      margin: 0 auto;
    }
  }
}

