@import 'base/vars';
@import 'base/theme_info';
@import 'libs/libs';
@import 'foundation';

header#masthead {
  width: 100%;
  .site-branding {
    .site-title,
    .site-description {
      text-align: center;
    }
    .site-description {
      width: 30%;
      margin: 0 auto;
    }
  }
}
body {
  overflow-x: hidden;
  max-width: 100%;
}
@media(min-width:62em) {
  .menu-toggle{
    display: none;
  }
}
#primary-menu {
  display: table;
  margin-left: 0;
  width: 100%;
}
#primary-menu li {
  display: table-cell;
  height: 40px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
}
#primary-menu li a {
  display: block;
}
