header#masthead {
  width: 100%;
  .site-branding {
    .site-title,
    .site-description {
      text-align: center;
    }
    .site-description {
      width: 30%;
      margin: 0 auto;
    }
  }
}
nav {
  position: relative;
  padding: 2em;
}
body {
  overflow-x: hidden;
  max-width: 100%;
}
@media(min-width:62em) {
  .menu-toggle{
    display: none;
  }
}
#primary-menu {
  display: table;
  margin-left: 0;
  width: 100%;
  margin-top: 2rem;
}
#primary-menu li {
  display: table-cell;
  height: 40px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
}
#primary-menu li a {
  display: block;
}
#page {
  border-left: 1px solid #008CBA;
  border-right: 1px solid #008CBA;
  box-shadow: 0px 0px 1px #008CBA;
  -moz-box-shadow: 0px 0px 1px #008CBA;
  -o-box-shadow: 0px 0px 1px #008CBA;
  -webkit-box-shadow: 0px 0px 1px #008CBA;
  background-color: #e6e6e6;
}
.content-area {
  padding: 1rem;
  box-sizing: border-box;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .row {
    max-width: 62.5rem;
    margin: 0 auto;
  }
  nav {
    padding: 0;
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.admin-bar {
  .sticky.site-header {
  display: none;
   background-color: #23282d;
   .site-branding {
      float:left;
      width: 12em;
      margin-top: 32px !important;
      @media screen and (max-width: 782px) {
        margin-top: 46px !important;
      }
      h1 {
        font-size: 1.5em;
        line-height: 1.7em;
        margin: 0 !important;
      }
      .site-description {
        display: none;
      }
    }
      nav {
        position: absolute;
        right: 0;
        left: 12em;
        #primary-menu {
          margin-top: 32px !important;
          li {
            font-size: 1.2em;
            a {
              padding: 0 0.5rem;
            }
          }
          
          @media screen and (max-width: 782px) {
              margin-top: 46px !important;
          }
        }
      }
  }
}
